@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* Neutral */
  --grey-900: #151515;
  --grey-700: #444444;
  --white: #ffffff;

  /* Folksy Gold */
  --gold-500: #d5966c;
  --font-display: "Big Shoulders", sans-serif;
  --font-body: "Outfit", sans-serif;

  /* Preset 1: Black weight (900), Fluid Size, 0.9 Line Height */
  --font-preset-1:
    900 clamp(3.75rem, 2.48rem + 5.41vw, 6rem)/0.9 "Big Shoulders", sans-serif;

  /* Preset 2: Black weight (900), Fluid Size, 1.0 Line Height */
  --font-preset-2:
    900 clamp(3.43rem, 2.38rem + 4.51vw, 4.37rem)/1 "Big Shoulders", sans-serif;

  /* Preset 3: Black weight (900), Fluid Size, 1.0 Line Height */
  --font-preset-3:
    900 clamp(3.12rem, 2.42rem + 3vw, 3.75rem)/1 "Big Shoulders", sans-serif;

  /* Preset 4: Black weight (900), 36px, 1.0 Line Height */
  --font-preset-4: 900 2.25rem/1 "Big Shoulders", sans-serif;

  /* Preset 5: Light weight (300), 22px, 1.4 Line Height */
  --font-preset-5: 300 1.37rem/1.4 "Outfit", sans-serif;

  /* Preset 6: ExtraBold (800), 20px, 1.0 Line Height (Spacing must be separate) */
  --font-preset-6: 800 1.25rem/1 "Big Shoulders", sans-serif;
  --letter-spacing-6: 3.64px;

  /* Preset 7: Light weight (300), 18px, 1.4 Line Height */
  --font-preset-7: 300 1.12rem/1.4 "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  /* padding: 0 32px; */
  max-width: 1440px;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  justify-content: center;
  /* margin: 0 auto; */
}
#map {
  height: clamp(500px, 550px, 600px);
  width: 100%;
}

.map {
  position: relative;
  width: 100%;
}

.map a {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 2000;
}
.map.hide {
  display: none;
}
h1 span {
  font: var(--font-preset-1);
  display: none;
  text-align: left;
}
.section1 h1 {
  margin-left: 0;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
.section1 h1 img {
  height: clamp(108px, 10vw, 172px);
}

.section1 .logo-light {
  display: none;
}
p {
  font: var(--font-preset-7);
  color: var(--grey-700);
}

h2 {
  font: var(--font-preset-3);
  text-transform: uppercase;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home img {
  width: 100%;
  height: auto;
}
.hero-con img {
  width: 100%;
  height: auto;
}
.section1 {
  margin-bottom: 2rem;
}
.section1,
.section2,
.section3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.section3 {
  padding-bottom: 6rem;
}
.hero-con {
  position: relative;
  display: flex;
  gap: 0;
  width: 100%;
  flex-direction: column;
}
.black-bg {
  background-color: var(--grey-900);
  display: none;
}
.img-con .float-logo-dark {
  height: 172px;
  display: none;
  width: auto;
}
.hero-img {
  position: relative;
}
.img-con {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.location {
  background-color: var(--grey-900);
  color: var(--white);
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.right-con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.location p {
  color: var(--white);
}
.location h3 {
  font: var(--font-preset-2);
  text-transform: uppercase;
}
.location h4 {
  color: var(--gold-500);
  font: var(--font-preset-4);
}
a.location-con {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 260px;
  height: auto;
  margin-left: 0;
  margin-right: auto;
}

a span {
  display: flex;
  align-items: center;
  justify-content: center;
}
a .location {
  background-color: var(--grey-900);
  font: var(--font-preset-6);
  text-transform: uppercase;
  color: var(--white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}
a .arrow {
  background-color: var(--gold-500);
  width: 56px;
  padding: 1.25rem;
}
a .arrow img {
  height: 1.75rem;
  width: auto;
}
.dark-con {
  background-color: var(--grey-900);
  color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.dark-con p {
  color: var(--white);
}

footer {
  background-color: var(--grey-900);
  color: var(--white);
  text-align: left;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

footer p {
  color: var(--white);
}
.footer.second {
  background-color: var(--gold-500);
  color: var(--grey-900);
}
.footer.second p {
  color: var(--grey-900);
}

.links {
  display: flex;
  gap: 1rem;
}
.second .facebook {
  content: url("./img/fb2.png");
  height: 1.75rem;
  width: 1.75rem;
}
.second .instagram {
  content: url("./img/inst2.webp");
  height: 1.75rem;
  width: 1.75rem;
}
.second .twitter {
  content: url("./img/twt2.png");
  height: 1.75rem;
  width: 1.75rem;
}

@media (min-width: 768px) {
  .hero-con {
    flex-direction: row;
  }
  .hero-con .hero-img {
    content: url("./img/desktop/image-hero@2x.jpg");
    height: clamp(43rem, 47rem, 50rem);
    width: clamp(27rem, 30rem, 33rem);
    margin-left: 0;
    margin-right: auto;
  }
  .img-con {
    height: clamp(43rem, 47rem, 50rem);
    width: clamp(27rem, 30rem, 33rem);
  }
  .section1 {
    position: absolute;
    left: 25rem;
    top: 20%;
    width: 22rem;
  }
}

@media (min-width: 1180px) {
  .black-bg {
    display: block;
    height: clamp(43rem, 47rem, 50rem);
    width: clamp(20rem, 24rem, 27rem);
  }

  .section1 {
    top: 25%;
    left: 50rem;
    width: 20rem;
  }
  .section1 h1 {
    display: none;
  }
  .black-bg {
    position: relative;
    overflow: hidden;
  }
  .black-bg .logo-light {
    position: absolute;
    top: 25%;
    right: -39%;
    height: 172px;
  }
  .img-con .float-logo-dark {
    position: absolute;
    display: block;
    top: 25%;
    left: -61%;
    z-index: 4;
  }
}
